//process.module=['conda']



params{
  //threads=1
  assembly_from_ENA=false
  single_end=false
  iontorrent=false
  output_assemblies="megahit_assemblies"
  //enaGroupGet= "~/local_programs/enaBrowserTools-0.0.3/python3/enaGroupGet.py"
  //enaDataGet= "~/local_programs/enaBrowserTools-0.0.3/python3/enaDataGet.py"
}

executor {
  queueSize=50
}


timeliene{
  enabled=true
  file="./timeline.html"
}

manifest{
  name='nf_assembly_megahit'
  author='Jose Garcia'
  homePage="github/garciafertson/nf_assembly_megahit"
  description="pipeline for assembly NCBI id fastq sequences using megahit"
  mainScript="main.nf"
  version="0.1"
}
